
<%- include("partials/header") %>

<body>



        <div class="upcoming" >
           
           
            <hr>
            <div class="container">
            <% if(data.length>0){%>
                <% data.forEach(non=> {%>

                    <section id="interview_info">
                        <div class="card"  >
                            <div class="card-body">
                              <h5 class="card-title">Title : <%= non.Title %></h5>
                              <h6 class="card-subtitle mb-2 text-muted">Interviewer : <%= non.Interviewer %></h6>
                           
                              <h6 class="card-subtitle mb-2 text-muted">Link : <%= non.Link %></h6>
                              <h6 class="card-subtitle mb-2 text-muted">Date : <%= non.Date %></h6>
               
                              <h6 class="card-subtitle mb-2 text-muted">Start : <%= non.Start %>   End : <%= non.End %></h6>
                              <h6 class="card-subtitle mb-2 text-muted">Participants : <%= non.Participants %></h6>
                              <p class="card-text">Note : <%= non.Note %></p>
                              <button type="button" class="btn btn-outline-warning">
                                <a class ="delete" class="add_applicant" href="/aliens/<%= non._id %>">
                                   EDIT
                                </a>
                            </button>
                          
                            <button type="button" class="btn btn-outline-danger">
                            <a class ="delete" class="add_applicant" href="/aliens/delete/<%= non._id %>">
                                Delete
                            </a>
                        </button>
                              
                            </div>
                          </div>
                        
                         
                        <hr>
                    </section>
                    <% }) %>
                        <%} %>

            </div>
        </div>
    </div>
<style>
    .container{
        display: flex;
                flex-direction: row;
                flex-wrap: wrap;
    }
</style>
</body>

<script>
  
    

    makeUser = () => {
        let a = document.getElementById("apply");
        a.innerHTML = `<div class="card">
  <form action="/users" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="Name" placeholder="Enter your name">
    <label for="email">Email:</label>
    <input type="text" id="email" name="Email" placeholder="Enter your email">
    <label for="mobile">Mobile:</label>
    <input type="number" id="mobile" name="Mobile" placeholder="Enter your numberatype="submit" method="post">Submit</button>
  </form>
</div>`
    


    }
</script>

</html>